{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>
    <h3 align="center">PLACE</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <td>District</td>
                <td>
                    <select name="sel_district" id="sel_district">
                        <option value="">...Select...</option>
                        {% for i in districtdata %}
                        <option 
                            {% if i.id == editdata.district_id %}
                            selected
                            {% endif %}
                            value="{{i.id}}">
                            {{i.district_name}}
                        </option>
                       {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Place</td>
                <td><input type="text" name="txtname" value="{{editdata.place_name}}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="btn" value="Save">
                     <input type="submit" name="btn" value="Cancel">
                </td>    
            </tr>
        </table>
    </form>

    <table align="center" border="1" >
        <tr>
            <th>Sl.no</th>
            <th>District</th>
            <th>Place</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.district.district_name}}</td>
            <td>{{i.place_name}}</td>
            <td>
                <a href="{% url 'WebAdmin:delPlace' i.id %}">DELETE</a>
                <a href="{% url 'WebAdmin:placeUpdate' i.id %}">EDIT</a>
            
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock content %}